
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .active{
    color: #064e3b;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 23px;
    text-decoration-thickness: 3px;
} */